# Data processing

#### Import module and read data

In [15]:
import pandas as pd
import numpy as np

In [16]:
## Data processing
df = pd.read_csv('data/crawled_data_northern_vietnam.csv')

1. Add column for year, month and season

In [17]:
df['DATE'] = pd.to_datetime(df['DATE'])

df['YEAR'] = df['DATE'].dt.year
df['MONTH'] = df['DATE'].dt.month

def get_season(month):
    if month in [11, 12, 1]:
        return 'Winter'  # Mùa đông
    elif month in [2, 3, 4]:
        return 'Spring'  # Mùa xuân
    elif month in [5, 6, 7]:
        return 'Summer'  # Mùa hè
    elif month in [8, 9, 10]:
        return 'Autumn'  # Mùa thu

df['SEASON'] = df['MONTH'].apply(get_season)

# Filter only past 10 years
df = df[df['YEAR'] >= 2013]

In [18]:
df = df.drop("Unnamed: 0", axis=1)
df

            DATE      STATION  TMAX  TMIN  TAVG  PRCP  YEAR  MONTH  SEASON
3060  2013-01-01  VMM00048806    56    47    51  0.00  2013      1  Winter
3061  2013-01-02  VMM00048806    73    50    61  0.00  2013      1  Winter
3062  2013-01-04  VMM00048806    59    54    55  0.00  2013      1  Winter
3063  2013-01-06  VMM00048806    58    51    54  0.00  2013      1  Winter
3064  2013-01-07  VMM00048806    59    53    55  0.01  2013      1  Winter
...          ...          ...   ...   ...   ...   ...   ...    ...     ...
28678 2024-09-14  VMM00048840    91    78    84  0.00  2024      9  Autumn
28679 2024-09-15  VMM00048840    93    79    85  0.00  2024      9  Autumn
28680 2024-11-11  VMM00048840    87    71    78  0.00  2024     11  Winter
28681 2024-11-24  VMM00048840    73    70    71  0.00  2024     11  Winter
28682 2024-11-25  VMM00048840    80    71    75  0.00  2024     11  Winter

[7639 rows x 9 columns]

In [19]:
df.to_csv('data/filtered_data_northern_vietnam.csv', encoding='utf-8')

### Dữ liệu sau khi lọc bao gồm các cột sau:

- **DATE**: Ngày tại thời điểm đo được (từ 2013 tới nay)
- **STATION**: Mã của trạm khí tượng
- **TMAX**: Nhiệt độ cao nhất trong ngày (độ F)
- **TMIN**: Nhiệt độ thấp nhất trong ngày (độ F)
- **TAVG**: Nhiệt độ trung bình trong ngày (độ F)
- **PRCP**: Lượng mưa của ngày (inch)
- **YEAR**: Năm tại thời điểm đo được (từ 2013 tới nay)
- **MONTH**: Tháng tại thời điểm đo được (từ 1 → 12)
- **SEASON**: Mùa tại thời điểm đo được (Xuân, Hạ, Thu, Đông)